/* Basic */

@import url('https://v1.fontapi.ir/css/SFProDisplay:400;500;600;700');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: SF Pro Display, sans-serif;
}

:root {
    --shadowColour1: #D9D9D9;
	--shadowColour2: #9b9b9b;
    --shadowColour3: rgba(0, 0, 0, .25);
    --shadowColour4: rgba(0, 0, 0, .03);
    --textColour: #2b353e;
	--textColourHover: #37444f;
	--blue: #537fff;
    --white: #ffff;
	--navbarHeight: 56.5px;
}

html {
	scroll-snap-type: y mandatory;
}

body {
	background-color: var(--white);
}

h1, h2, h3, h4, h5, h6, strong {
	color: var(--textColour);
	font-weight: 400;
}

h1 {
	font-weight: 600;
}

p, li, span, label, input, textarea {
	color: var(--textColour);
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: var(--blue);
}


article h2 {
	font-size: 25px;
	font-weight: bolder;
}

article p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

section {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	scroll-margin-top: 56.5px;	
}

.shadow {
	box-shadow: 0 5px 15px 0 var(--shadowColour2);
	height: calc(100dvh - var(--navbarHeight));
}

.section-bubbles {
	/*background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='300' height='300' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(53)'%3E%3Crect width='100%25' height='100%25' fill='rgba(255, 255, 255,1)'/%3E%3Ccircle cx='30' cy='20' r='4' fill='rgba(83, 127, 255,1)'/%3E%3Ccircle cx='10' cy='20' r='4' fill='rgba(83, 127, 255,1)'/%3E%3Ccircle cx='20' cy='30' r='4' fill='rgba(83, 127, 255,1)'/%3E%3Ccircle cx='20' cy='10' r='4' fill='rgba(83, 127, 255,1)'/%3E%3Ccircle cx='33' cy='7' r='4' fill='rgba(83, 127, 255,1)'/%3E%3Ccircle cx='7' cy='33' r='4' fill='rgba(83, 127, 255,1)'/%3E%3Ccircle cx='33' cy='33' r='4' fill='rgba(83, 127, 255,1)'/%3E%3Ccircle cx='7' cy='7' r='4' fill='rgba(83, 127, 255,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='300' height='300' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(53)'%3E%3Crect width='100%25' height='100%25' fill='rgba(255, 255, 255,1)'/%3E%3Ccircle cx='30' cy='20' r='4' fill='rgba(0, 0, 0,1)'/%3E%3Ccircle cx='10' cy='20' r='4' fill='rgba(0, 0, 0,1)'/%3E%3Ccircle cx='20' cy='30' r='4' fill='rgba(0, 0, 0,1)'/%3E%3Ccircle cx='20' cy='10' r='4' fill='rgba(0, 0, 0,1)'/%3E%3Ccircle cx='33' cy='7' r='4' fill='rgba(0, 0, 0,1)'/%3E%3Ccircle cx='7' cy='33' r='4' fill='rgba(0, 0, 0,1)'/%3E%3Ccircle cx='33' cy='33' r='4' fill='rgba(0, 0, 0,1)'/%3E%3Ccircle cx='7' cy='7' r='4' fill='rgba(0, 0, 0,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    background: linear-gradient(90deg, rgba(83,127,255,1) 13%, rgba(255,0,236,1) 100%);*/
    /*background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='300' height='300' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(53)'%3E%3Crect width='100%25' height='100%25' fill='rgba(255, 255, 255,1)'/%3E%3ClinearGradient id='gradient' x1='0' y1='0' x2='1' y2='0'%3E%3Cstop offset='13%' stop-color='rgba(83,127,255,1)'/%3E%3Cstop offset='100%' stop-color='rgba(255,0,236,1)'/%3E%3C/linearGradient%3E%3Ccircle cx='30' cy='20' r='4' fill='url(%23gradient)'/%3E%3Ccircle cx='10' cy='20' r='4' fill='url(%23gradient)'/%3E%3Ccircle cx='20' cy='30' r='4' fill='url(%23gradient)'/%3E%3Ccircle cx='20' cy='10' r='4' fill='url(%23gradient)'/%3E%3Ccircle cx='33' cy='7' r='4' fill='url(%23gradient)'/%3E%3Ccircle cx='7' cy='33' r='4' fill='url(%23gradient)'/%3E%3Ccircle cx='33' cy='33' r='4' fill='url(%23gradient)'/%3E%3Ccircle cx='7' cy='7' r='4' fill='url(%23gradient)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E");*/
	background: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='35.584' height='30.585' patternTransform='scale(4) rotate(40)'><linearGradient id='gradient' x1='0' y1='0' x2='1' y2='0'><stop offset='13%' stop-color='rgba(83,127,255,1)'/><stop offset='100%' stop-color='rgba(255,0,236,1)'/></linearGradient><rect x='0' y='0' width='100%' height='100%' fill='url(%23gradient)'/><path d='M36.908 9.243c-5.014 0-7.266 3.575-7.266 7.117 0 3.376 2.45 5.726 5.959 5.726 1.307 0 2.45-.463 3.244-1.307.744-.811 1.125-1.903 1.042-3.095-.066-.811-.546-1.655-1.274-2.185-.596-.447-1.639-.894-3.162-.546-.48.1-.778.58-.662 1.06.1.48.58.777 1.06.661.695-.149 1.274-.066 1.705.249.364.265.546.645.562.893.05.679-.165 1.308-.579 1.755-.446.48-1.125.744-1.936.744-2.55 0-4.188-1.538-4.188-3.938 0-2.466 1.44-5.347 5.495-5.347 2.897 0 6.008 1.888 6.388 6.058.166 1.804.067 5.147-2.598 7.034a.868.868 0 00-.142.122c-1.311.783-2.87 1.301-4.972 1.301-4.088 0-6.123-1.952-8.275-4.021-2.317-2.218-4.7-4.518-9.517-4.518-4.094 0-6.439 1.676-8.479 3.545.227-1.102.289-2.307.17-3.596-.496-5.263-4.567-7.662-8.159-7.662-5.015 0-7.265 3.574-7.265 7.116 0 3.377 2.45 5.727 5.958 5.727 1.307 0 2.449-.463 3.243-1.308.745-.81 1.126-1.903 1.043-3.095-.066-.81-.546-1.654-1.274-2.184-.596-.447-1.639-.894-3.161-.546-.48.1-.778.58-.662 1.06.099.48.579.777 1.059.66.695-.148 1.275-.065 1.705.25.364.264.546.645.563.893.05.679-.166 1.307-.58 1.754-.447.48-1.125.745-1.936.745-2.549 0-4.188-1.539-4.188-3.939 0-2.466 1.44-5.345 5.495-5.345 2.897 0 6.008 1.87 6.389 6.057.163 1.781.064 5.06-2.504 6.96-1.36.864-2.978 1.447-5.209 1.447-4.088 0-6.124-1.952-8.275-4.021-2.317-2.218-4.7-4.518-9.516-4.518v1.787c4.088 0 6.123 1.953 8.275 4.022 2.317 2.218 4.7 4.518 9.516 4.518 4.8 0 7.2-2.3 9.517-4.518 2.151-2.069 4.187-4.022 8.275-4.022s6.124 1.953 8.275 4.022c2.318 2.218 4.701 4.518 9.517 4.518 4.8 0 7.2-2.3 9.516-4.518 2.152-2.069 4.188-4.022 8.276-4.022s6.123 1.953 8.275 4.022c2.317 2.218 4.7 4.518 9.517 4.518v-1.788c-4.088 0-6.124-1.952-8.275-4.021-2.318-2.218-4.701-4.518-9.517-4.518-4.103 0-6.45 1.683-8.492 3.556.237-1.118.304-2.343.184-3.656-.497-5.263-4.568-7.663-8.16-7.663z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 0%, 1)'/><path d='M23.42 41.086a.896.896 0 01-.729-.38.883.883 0 01.215-1.242c2.665-1.887 2.764-5.23 2.599-7.034-.38-4.187-3.492-6.058-6.389-6.058-4.055 0-5.495 2.88-5.495 5.346 0 2.4 1.639 3.94 4.188 3.94.81 0 1.49-.265 1.936-.745.414-.447.63-1.076.58-1.755-.017-.248-.2-.629-.547-.893-.43-.315-1.026-.398-1.704-.249a.868.868 0 01-1.06-.662.868.868 0 01.662-1.059c1.523-.348 2.566.1 3.161.546.729.53 1.209 1.374 1.275 2.185.083 1.191-.298 2.284-1.043 3.095-.794.844-1.936 1.307-3.244 1.307-3.508 0-5.958-2.35-5.958-5.726 0-3.542 2.25-7.117 7.266-7.117 3.591 0 7.663 2.4 8.16 7.663.347 3.79-.828 6.868-3.344 8.656a.824.824 0 01-.53.182zm0-30.585a.896.896 0 01-.729-.38.883.883 0 01.215-1.242c2.665-1.887 2.764-5.23 2.599-7.034-.381-4.187-3.493-6.058-6.389-6.058-4.055 0-5.495 2.88-5.495 5.346 0 2.4 1.639 3.94 4.188 3.94.81 0 1.49-.266 1.936-.746.414-.446.629-1.075.58-1.754-.017-.248-.2-.629-.547-.894-.43-.314-1.026-.397-1.705-.248A.868.868 0 0117.014.77a.868.868 0 01.662-1.06c1.523-.347 2.566.1 3.161.547.729.53 1.209 1.374 1.275 2.185.083 1.191-.298 2.284-1.043 3.095-.794.844-1.936 1.307-3.244 1.307-3.508 0-5.958-2.35-5.958-5.726 0-3.542 2.25-7.117 7.266-7.117 3.591 0 7.663 2.4 8.16 7.663.347 3.79-.828 6.868-3.344 8.656a.824.824 0 01-.53.182zm29.956 1.572c-4.8 0-7.2-2.3-9.517-4.518-2.151-2.069-4.187-4.022-8.275-4.022S29.46 5.486 27.31 7.555c-2.317 2.218-4.7 4.518-9.517 4.518-4.8 0-7.2-2.3-9.516-4.518C6.124 5.486 4.088 3.533 0 3.533s-6.124 1.953-8.275 4.022c-2.317 2.218-4.7 4.518-9.517 4.518-4.8 0-7.2-2.3-9.516-4.518-2.152-2.069-4.188-4.022-8.276-4.022V1.746c4.8 0 7.2 2.3 9.517 4.518 2.152 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.276-4.022C-7.2 4.046-4.816 1.746 0 1.746c4.8 0 7.2 2.3 9.517 4.518 2.151 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.275-4.022c2.318-2.218 4.7-4.518 9.517-4.518 4.8 0 7.2 2.3 9.517 4.518 2.151 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.275-4.022c2.317-2.218 4.7-4.518 9.517-4.518v1.787c-4.088 0-6.124 1.953-8.275 4.022-2.317 2.234-4.717 4.518-9.517 4.518z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 0%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(-196,-88.68)' fill='url(%23a)'/></svg>");
}

.section-darkness {
    background-color: var(--shadowColour4);
}

.section {
	background-color: var(--white);
}

#section-one .shadow {
	display: grid;
	align-content: center;
}

/* Navigation Bar */

header {
    background: var(--white);
    height: 56.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*nav {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
}

nav a {
	text-align: center;
	padding: 0 5px 0 5px;
	color: var(--blue);
	
}

.nav-wrapper {
	display: inline-flex;
    flex-direction: row;
	align-content: center;

}*/

.nav-wrapper {
	padding: 10px 25px;
	background-color: var(--white);
	box-shadow: 0 5px 15px 0 var(--shadowColour3);
	position: fixed;
	display: block;
	top: 0;
    width: 100%;
}

.logo-hamburger {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.logo {
    color: var(--textColour);
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}

.logo:hover {
	background: rgb(83,127,255);
    background: linear-gradient(90deg, rgba(83,127,255,1) 13%, rgba(255,0,236,1) 100%); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* Hamburger */
#hamburger {
	width: 40px;
	height: 30px;
	position: relative;
	justify-self: right;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#hamburger span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: var(--textColour);
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
	top: 0px;
}

#hamburger span:nth-child(2),#hamburger span:nth-child(3) {
	top: 12px;
}

#hamburger span:nth-child(4) {
	top: 24px;
}

#hamburger.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#hamburger.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

/* Menu */
.menu {
	width: 100%;
	background-color: var(--white);
	margin: 0;
	display: -ms-grid;
	display: grid;
	grid-template-rows: 1fr repeat(4, 0.5fr);
	grid-row-gap: 25px;
	padding: 0;
	list-style: none;
	clear: both;
	width: auto;
	text-align: center;
	height: 0px;
	overflow: hidden;
	transition: height .4s ease;
	z-index: 120;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.menu a:first-child {
	margin-top: 30px;
}

.menu a:last-child {
	margin-bottom: 30px;
}

.menu-link {
	width: 100%;
	margin: 0;
	padding: 10px 0;
	font-size: 25px;
	color: var(--textColour);
}

.menu-link:hover {
	background: rgb(83,127,255);
    background: linear-gradient(90deg, rgba(83,127,255,1) 13%, rgba(255,0,236,1) 100%); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* Greeting section */

.greeting-container {
	width: 85%;
	margin: 0 auto;
}

.greeting-wrapper {
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;
}

.greeting {
	background-color: var(--white);
	border-radius: 50px;
	box-shadow: 0 5px 20px 0 var(--shadowColour3);
	margin: 40px auto 40px auto;
	padding: 40px;
}

.greeting h1 {
    background: rgb(83,127,255);
    background: linear-gradient(90deg, rgba(83,127,255,1) 13%, rgba(255,0,236,1) 100%); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 40px;
}

/* About section */
.about {	
	padding-top: 30px;
}

.about-container {
	margin: 0 25px;
	height: calc(100dvh - var(--navbarHeight));
}

.welcome-img {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0 30px 0;
	width: 90%;
}

/* Portfolio */
.portfolio-container {
	width: 85%;
	margin: 0 auto;
}

.portfolio-wrapper {
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;
}

.portfolio-title {
	background-color: var(--white);
	border-radius: 50px;
	box-shadow: 0 5px 20px 0 var(--shadowColour3);
	margin: 40px auto 40px auto;
	padding: 20px 35px;
}

.portfolio-title h2 {
    background: rgb(83,127,255);
    background: linear-gradient(90deg, rgba(83,127,255,1) 13%, rgba(255,0,236,1) 100%); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 40px;
}

.portfolio-item {
	background-color: var(--white);
	border-radius: 50px;
	box-shadow: 0 5px 20px 0 var(--shadowColour3);
	margin: 0px auto 40px auto;
	padding: 40px;
}